<h1>Listing categories</h1>
<!-- Link used for tree view is http://snippets.dzone.com/posts/show/1919-->
<!-- Link used for tree view is https://github.com/collectiveidea/awesome_nested_set/wiki/Awesome-Nested-Set-Cheat-Sheet-->
<!-- Link used for sortable tree is http://awesomeful.net/posts/47-sortable-lists-with-jquery-in-rails-->
<!-- Link used for sortable tree is http://www.bencurtis.com/2008/10/drag-and-drop-sorting-with-jquery-and-rails/-->


<!--
    <td><%#= link_to 'Destroy', admin_category_path(category), :confirm => 'Are you sure?', :method => :delete %></td>
 -->
<%= display_categories(@categories) %>
<br />

<%= link_to 'New category', new_admin_category_path %>